POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=price_monitoring
POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_password

INGEST_MODE=demo # demo | live (пробует публичные endpointы, при ошибке fallback в demo)
RAW_DATA_DIR=./data/raw
CURRENCY_BASE=RUB

# алерты
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
ALERT_PRICE_CHANGE_PCT=15

# Airflow, при использовании docker-compose
AIRFLOW_UID=50000
